<div class="row">

<div class="col-md-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Ενέργειες</h3>
    </div>
    <div class="panel-body">

    	<ul class="nav nav-pills nav-stacked">
  			<li><%= link_to 'Δρομολόγια', assignments_path %></li>
  			<li><%= link_to 'Στατιστικά', stats_path %></li>
  		</ul>
    </div>
  </div>
</div>

<diV class="col-md-9">
   <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Ανάθεση δρομολόγιου</h3>
    </div>
    <div class="panel-body">
      
    </div>
  </div>
</div>
</div>
