<h1>Τύπος δρομολόγιου</h1>

<%= render 'form' %>

<%= link_to 'Τύπος Δρομολόγιου', @route_type, class: 'btn btn-primary margin-top-20' %> 
<%= link_to 'Τύποι Δρομολόγιων', route_types_path, class: 'btn btn-primary margin-top-20' %>
