<h1>Δρομολόγιο</h1>

<%= render 'form' %>

<%= link_to 'Δρομολόγιο', @route, class: 'btn btn-primary margin-top-20' %> |
<%= link_to 'Δρομολόγια', routes_path, class: 'btn btn-primary margin-top-20' %>
