<h1>Προορισμός</h1>

<%= render 'form' %>

<%= link_to 'Προορισμός', @destination, class: 'btn btn-primary margin-top-20' %>
<%= link_to 'Προορισμοί', destinations_path, class: 'btn btn-primary margin-top-20' %>
